*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #F2F2F2;
    font-family: 'Poppins',sans-serif;
}
#top-menu{
    font-family: 'Poppins', sans-serif;
}
#top-menu h1{
    font-weight: 900;
    letter-spacing: -1px;
    text-align: center;
    font-size: 45px;
    max-width: 100%;
}
#top-menu p{
    text-align: center;
    font-size: 10px;
}
.about{
    width: 300px;
    border: 2px solid #272727;
    background-color: rgb(240, 231, 231);
    border-radius: 10px;
    margin-top: 100px;
    margin-left: 20px;
    padding: 5px;
    float: left;
    height: 200px;
}
.about a{
    color: #272727;
}
.icon{
    text-align: center;
    margin-top: 50px;
    font-size: 40px ;
}